body {
    margin: 0;
    overflow: hidden;
}

.split-view {
    display: flex;
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.quarter {
    width: 25%;
    height: auto;
    position: absolute;
    top: -30vh;
    bottom: 0;
}

.half {
    width: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.left {
    background: linear-gradient(to bottom, #f8f9fa, #e9ecef);
}

.middle {
    width: 50%;
    left: 25%;
    background: linear-gradient(to right, #0d1b2a, #1b263b);
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 20px; 
}

.right {
    right: 0;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
}

canvas {
    display: block;
}

.hero-section-h1 {
    top: 15%;
    position: absolute;
    color: #fcdc6a;
    font-size: 6vh;
    margin: 0;
}

.hero-section-h2 {
    top: 30%;
    position: absolute;
    color: #bb8ef0;
    font-size: 3vh;
    margin: 0;
}