body {
    margin: 0;
    overflow: hidden;
}

.split-view {
    display: flex;
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.quarter {
    width: 25%;
    height: auto;
    position: absolute;
    top: -30vh;
    bottom: 0;
}

.left {
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
}

.middle {
    width: 50%;
    left: 25%;
}

.right {
    right: 0;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
}

canvas {
    display: block;
}